body {
  background-color: rgb(255, 255, 255);
  font: 300 1.5em/1.38 museo;
  color: rgb(160, 160, 160);
}

p {
  margin-bottom: 1em;
}

.container {
  float: left;
  clear: both;
  width: 80%;
  height: 200px;
  margin: 20px 0 0 10%;
}

.image {
  display: block;
  float: left;
  width: 30%;
  height: auto;
  margin: 25px 0 0 10%;
  overflow: hidden;
}

.text {
  float: left;
  clear: both;
  width: 80%;
  min-height: 318px;
  margin: 22px 0 0 10%;
  font-size: 1em;
  color: rgb(160, 160, 160);
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(0, 0, 0);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text a:hover {
  background-color: transparent;
  text-decoration: underline;
  color: #1f75fe;
}

.text em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #1f75fe;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 640px) {
  .container {
    margin-top: 170px;
  }
  
  .image {
    width: 40%;
    height: auto;
    margin-left: 30%;
  }
}

  
