body {
  background-color: rgb(255, 255, 255);
  font: 400 1.5em/1.38 museo;
  color: rgb(160, 160, 160);
}

.container {
  float: left;
  clear: both;
  width: 80%;
  height: 133px;
  margin: 86px 0 0 10%;
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
  clear: both;
  width: 75%;
  margin-left: 15%;
  font-size: 1em;
  color: rgb(160, 160, 160);
}

.text-2 p,
.text-3 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 20%;
  height: 80px;
  margin-left: 10%;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: #1f75fe;
}

.image-1 {
  width: 30%;
  margin: 25px 0 0 10%;
}

.image-2 {
  clear: both;
  width: 40%;
  margin: 32px 0 0 30%;
}

.text-1 {
  min-height: 122px;
  margin-top: 16px;
}

.text-2 {
  min-height: 107px;
  margin-top: 32px;
}

.text-3 {
  min-height: 79px;
  margin-top: 16px;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-2 span {
  background-color: transparent;
}

.text-3 span {
  background-color: rgba(31, 117, 254, 0.34);
}

@media(max-width: 640px) {
  .image {
    height: auto;
  }

  .text {
    width: 80%;
    margin-left: 10%;
  }

  ._button {
    width: 40%;
    margin-left: 30%;
  }

  .image-1 {
    width: 40%;
    margin-left: 30%;
  }
}